




#page1 { padding:0; }
#Header-huxmu1lk5o { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bd579"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bd579"] { width:100%;padding:0; }
[name="Container_671a17e5bd6a0"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bd6a0"] { clear:both; }
[id="_61553b87a9b3f_1632975751"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_61553b87a9b3f_1632975751"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#ResponsiveImage-huxmu1lliz { border:0; }
#ResponsiveImage-huxmu1lliz > img { border-style:solid; }
#ResponsiveImage-huxmu1lliz  img{ padding:0; }
[id="_61553bf7c34bb_1632975863"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_61553bf7c34bb_1632975863"] { margin-top:-55px !important; }
[id="_61553bf7c34bb_1632975863"] { padding-bottom:20px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_61553bf7c34bb_1632975863"] { margin-top:-70px !important; }
 }
@media screen  and (min-width: 768px){ #navabar1  ul.navbar-nav{ width:100%;text-align:right; }
#navabar1  ul.navbar-nav > *{ float:none;display:inline-block;vertical-align:middle; }
 }
#navabar1  ul.navbar-nav > *{ vertical-align:middle; }
@media  screen and (max-width: 767px){ [id="_61553bfa6f6e9_1632975866"]  .menu_item{ width:auto; }
 }
[id="_61553bfa6f6e9_1632975866"] { width:100%;margin-bottom:0;border-top-right-radius:0;border-bottom-right-radius:0;border-top-left-radius:0;border-bottom-left-radius:0;border-style:solid; }
nav[id="_61553bfa6f6e9_1632975866"] .navbar { clear:both; }
#navabar1  > ul{ width:100%; }
nav[id="_61553bfa6f6e9_1632975866"].navbar  .container{ background-image:transparent !important; }
nav[id="_61553bfa6f6e9_1632975866"] .dropdown-menu { border:none;background-color:transparent;box-shadow:none; }
nav[id="_61553bfa6f6e9_1632975866"] .navbar-toggle .icon-bar{ border-color:#fff; }
nav[id="_61553bfa6f6e9_1632975866"] .navbar { position:initial; }
[id="menuitem_671a17e5bdcd0"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
@media (max-width: 767px){ ul.nav.navbar-nav { width:100%; }
 }
[id="menuitem_671a17e5bddaf"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_671a17e5bde8f"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_671a17e5bdf80"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
[id="menuitem_671a17e5be05d"] { border-top-width:0;border-right-width:0;border-left-width:0;border-bottom-width:0;border-style:solid; }
#_6197cd2feba8a_1637338415 { border-top-width:2px ;border-right-width:2px ;border-left-width:2px ;border-bottom-width:2px ;border-style:solid;padding-top:12px !important;padding-right:15px !important;padding-left:15px !important;padding-bottom:12px !important;border-color:rgba(255, 255, 255, 1);border-top-right-radius:60px !important;border-bottom-right-radius:60px !important;border-top-left-radius:60px !important;border-bottom-left-radius:60px !important;font-size:16px;white-space:pre-wrap;height:auto; }
.menu { id-filho:6938239;id-pai:6938238; }
.menu_item:hover{ id-filho:6938240;id-pai:6938238;color:rgba(168, 139, 167, 1)!important; }
.menu_item.focus{ id-filho:6938241;id-pai:6938238;color:rgba(199, 158, 176, 1)!important; }
.menu  li + li{ id-filho:6938242;id-pai:6938238; }
.menu_item { id-filho:6938243;id-pai:6938238;color:rgba(255, 255, 255, 1)!important;font-size:16px;text-align:center; }
#GridPanel_671a17e5be74f { padding:0; }
[name="Container_671a17e5be89a"] { background:url("/IMG/LOGO_INSTAGRAM.png");background-size:cover;background-position:center center;background-repeat:cover;border:0;border-style:solid; }
[name="Container_671a17e5be89a"] { padding-top:300px !important; }
@media screen and (max-width: 767px) { [name="Container_671a17e5be89a"] { padding-top:200px !important; }
 }
@media screen and (min-width: 992px) { [name="Container_671a17e5be89a"] { padding-top:300px !important; }
 }
[name="Container_671a17e5be89a"] { width:100%;padding:0; }
[name="Container_671a17e5be9d9"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;margin-left:0px;border-style:solid; }
@media screen and (min-width: 992px) { [name="Container_671a17e5be9d9"] { margin-left:0px !important; }
 }
[name="Container_671a17e5be9d9"] { clear:both; }
[id="_4163577427_1639429667"] { background-color:transparent !important;background-position:left center;background-repeat:no-repeat;border:0;margin-bottom:-300px;border-style:solid; }
@media screen and (max-width: 767px) { [id="_4163577427_1639429667"] { margin-bottom:-150px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_4163577427_1639429667"] { margin-bottom:-250px !important; }
 }
@media screen and (min-width: 992px) { [id="_4163577427_1639429667"] { margin-bottom:-300px !important; }
 }
#ResponsiveImage-huxmu1lpb7 { border:0; }
#ResponsiveImage-huxmu1lpb7 { border-style:solid; }
#parent_ResponsiveImage-huxmu1lpb7  > .hint{ position:absolute;width:100%;height:100%;top:0px;left:0; }
[id="_155998730_1639429669"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:40px !important;padding-left:10px !important; }
@media screen and (min-width: 992px) { [id="_155998730_1639429669"] { padding-top:20px !important;padding-right:40px !important;padding-left:10px !important; }
 }
#text_671a17e5bef3e { border:0;border-style:solid; }
#ResponsiveImage-huxmu1lq9k { border:0;margin-bottom:-1px; }
#ResponsiveImage-huxmu1lq9k { border-style:solid; }
[name="Container_671a17e5bf41c"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bf41c"] { padding-top:100px !important; }
@media screen and (min-width: 992px) { [name="Container_671a17e5bf41c"] { padding-top:100px !important; }
 }
[name="Container_671a17e5bf41c"] { width:100%;padding:0; }
#text_671a17e5bf599 { border:0;border-style:solid;padding-top:20px !important;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }
[id="_775869325_1641846600"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bf7f2"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bf7f2"] { padding-top:80px !important;padding-bottom:80px !important; }
@media screen and (min-width: 992px) { [name="Container_671a17e5bf7f2"] { padding-top:80px !important;padding-bottom:80px !important; }
 }
[name="Container_671a17e5bf7f2"] { clear:both; }
[name="Container_671a17e5bf925"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5bf925"] { padding-top:60px !important; }
@media screen and (min-width: 992px) { [name="Container_671a17e5bf925"] { padding-top:60px !important; }
 }
[name="Container_671a17e5bf925"] { width:100%;padding:0; }
#text_671a17e5bfac7 { border:0;border-style:solid;padding-top:20px !important;padding-bottom:30px !important; }
[id="_3000513058_1641415978"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:20px !important;padding-left:20px !important; }
@media screen and (min-width: 992px) { [id="_3000513058_1641415978"] { padding-right:20px !important;padding-left:20px !important; }
 }
[id="_463514737_1641415978"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_463514737_1641415978"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#NewsLink-huxmu1lt32 { text-decoration:none; }
#NewsImage-huxmu1ltbq { border:0;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;border-style:solid; }
#NewsImage-huxmu1ltbq.aspect-ratio-overflow { overflow:hidden; }
#NewsImage-huxmu1ltbq.aspect-ratio-overflow:after { display:block;content:" ";padding-top:100%; }
#NewsImage-huxmu1ltbq.aspect-ratio-overflow img { position:absolute !important;width:auto !important;height:100% !important;transform:translateX(-50%) !important;top:0px !important;left:50% !important;object-position:center !important;object-fit:cover !important; }
[id="_621272177_1641415978"] { background:RGBA(255, 244, 235, 1);border:0;margin-top:-60px;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;border-style:solid;padding-top:30px !important;padding-right:30px !important;padding-left:30px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_621272177_1641415978"] { border-top-left-radius:20px !important;border-top-right-radius:20px !important;border-bottom-left-radius:20px !important;border-bottom-right-radius:20px !important;margin-top:-60px !important; }
[id="_621272177_1641415978"] { padding-top:30px !important;padding-right:30px !important;padding-bottom:20px !important;padding-left:30px !important; }
 }
#text_671a17e5c0527 { border:0;border-style:solid; }
[name="Container_671a17e5c05e3"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5c05e3"] { padding-top:80px !important; }
@media screen and (min-width: 992px) { [name="Container_671a17e5c05e3"] { padding-top:80px !important; }
 }
[name="Container_671a17e5c05e3"] { width:100%;padding:0; }
#ResponsiveImage-huxmu1lula { border:0; }
#ResponsiveImage-huxmu1lula { border-style:solid; }
#ResponsiveImage-huxmu1lula { padding-bottom:40px !important; }
#text_671a17e5c089a { border:0;border-style:solid;padding-top:20px !important;padding-bottom:30px !important; }
[id="_703935749_1639430127"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-right:20px !important;padding-left:20px !important; }
@media screen and (min-width: 992px) { [id="_703935749_1639430127"] { padding-right:20px !important;padding-left:20px !important; }
 }
[id="_569970797_1639430127"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_569970797_1639430127"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#NewsLink-huxmu1lvsm { text-decoration:none; }
#NewsImage-huxmu1lw1n { border:0;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;border-style:solid; }
#NewsImage-huxmu1lw1n.aspect-ratio-overflow { overflow:hidden; }
#NewsImage-huxmu1lw1n.aspect-ratio-overflow:after { display:block;content:" ";padding-top:100%; }
#NewsImage-huxmu1lw1n.aspect-ratio-overflow img { position:absolute !important;width:auto !important;height:100% !important;transform:translateX(-50%) !important;top:0px !important;left:50% !important;object-position:center !important;object-fit:cover !important; }
[id="_1970461915_1639430127"] { background:RGBA(255, 244, 235, 1);border:0;margin-top:-60px;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;border-style:solid;padding-top:30px !important;padding-right:30px !important;padding-left:30px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_1970461915_1639430127"] { border-top-left-radius:20px !important;border-top-right-radius:20px !important;border-bottom-left-radius:20px !important;border-bottom-right-radius:20px !important;margin-top:-60px !important; }
[id="_1970461915_1639430127"] { padding-top:30px !important;padding-right:30px !important;padding-bottom:20px !important;padding-left:30px !important; }
 }
#text_671a17e5c12f5 { border:0;border-style:solid; }
#footer_671a17e5c3230 { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-top-width:1px ;border-color:rgba(92, 103, 112, 0.35);border-style:solid; }
[name="Container_671a17e5c32d0"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
[name="Container_671a17e5c32d0"] { padding-top:60px !important;padding-bottom:60px !important; }
@media screen and (min-width: 992px) { [name="Container_671a17e5c32d0"] { padding-top:60px !important;padding-bottom:60px !important; }
 }
[name="Container_671a17e5c32d0"] { clear:both; }
[id="_615676005d973_1633056256"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_615676005d973_1633056256"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#ResponsiveImage-huxmu1m3oj { border:0; }
#ResponsiveImage-huxmu1m3oj { border-style:solid; }
[id="_909865827_1633056410"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_909865827_1633056410"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
#text_671a17e5c37a3 { border:0;border-style:solid; }
[id="_1727499485_1633057679"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid;padding-top:20px !important;padding-right:20px !important;padding-left:20px !important;padding-bottom:20px !important; }
@media screen and (min-width: 992px) { [id="_1727499485_1633057679"] { padding-top:20px !important;padding-right:20px !important;padding-bottom:20px !important;padding-left:20px !important; }
 }
[id="_625dbcb27a147_1650310322"] { background-color:transparent !important;background-position:left top;background-repeat:repeat-x;border:0;border-style:solid; }
@media screen and (max-width: 767px) { [id="_625dbcb27a147_1650310322"] { padding-bottom:70px !important; }
 }
@media screen and (min-width: 768px) and (max-width: 991px) { [id="_625dbcb27a147_1650310322"] { padding-bottom:60px !important; }
 }
#text_671a17e5c3f0c { border:0;border-style:solid;padding-right:10px !important;padding-left:10px !important;padding-bottom:30px !important; }

 .center { float:none;margin-left:auto;margin-right:auto; }